
		
		body{background-color:#B8B8B8;}
		#p1{font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			 font-weight: 800;
  font-size: 19px;
color: antiquewhite;			
}
	    #p2{font-family: 'Sedgwick Ave Display', cursive;
		color: pearlwhite;}
#content1
{
	position: fixed;
	z-index: -3;
	height: 400px;
	width: 100%;
	background-image:url(assets/groupimage.jpg);
	opacity: .50;
	margin-top: 21px;
}
#navbar
{
	position: fixed;
	top: 0;
	height: 51px;
	width:100%;
	z-index:5;
}
#content2
{
	
	z-index: -1;
	height: 620px;
	width: 100%;
	background-color:#3A3A3A;
	opacity: 0.99;

	margin-top: 35px;
}
#over{
	z-index:-1;
	height:400px;
	width:100%;
	background-color:#434343;
	margin-top: 35px;
	opacity: .50;
}
#over2{
	position: absolute;
	z-index:1;
	height:300px;
	width:100%;
	background-color:transparent;
	margin-top: -300px;
	
}
#floatleft{
	
	
	height:300px;
	width:50%;
	background-color:transparent;
	
	float: left;
	
}
#floatright{
	
	
	height:200px;
	width:50%;
	background-color:transparent;
	
	float: right;
	margin-top: 45px;
	font-style: oblique;
	font-size: 30px;
	font-family: "cabin-sketch";
	color: antiquewhite;
	font-weight:bolder
	
	
}

    .img-circle {
        border-radius: 50%;
		
		 border: 5px solid antiquewhite;
		
    }




