
		
		body{background-color:#B8B8B8;}
		#p1{font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			
			
}
	    #p2{font-family: 'Sedgwick Ave Display', cursive;}
#content1
{
	position: fixed;
	z-index: -3;
	height: 400px;
	width: 100%;
	background-image:url(assets/groupimage.jpg);
	opacity: .50;
	margin-top: 21px;
}
#navbar
{
	position: fixed;
	top: 0;
	height: 51px;
	width:100%;
	z-index:5;
}
#content2
{
	
	z-index: -1;
	height: 620px;
	width: 100%;
	background-color:#3A3A3A;
	opacity: 0.99;

	margin-top: 35px;
}
#over{
	z-index:-1;
	height:400px;
	width:100%;
	background-color:#434343;
	margin-top: 35px;
	opacity: .50;
}
#over2{
	position: absolute;
	z-index:1;
	height:300px;
	width:100%;
	background-color:transparent;
	margin-top: -300px;
	
}
#floatleft{
	
	
	height:300px;
	width:50%;
	background-color:transparent;
	
	float: left;
	
}
#floatright{
	
	
	height:200px;
	width:50%;
	background-color:transparent;
	
	float: right;
	margin-top: 45px;
	font-style: oblique;
	font-size: 30px;
	font-family: "cabin-sketch";
	color: antiquewhite;
	font-weight:bolder
	
	
}

    .img-circle {
        border-radius: 50%;
		
		 border: 5px solid antiquewhite;
		
    }



/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
